body{
  padding: 20px;
  margin: 5px;
}

h1{
  color: #400000;
  text-align: center;
  text-transform: uppercase;
  font-size: 200%;
}
header{
  background-color: #B3B3B3B3;
  padding: 10px;
  margin:5px;
  background-image: url('../images/flywheel.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav a{
    display: inline-block;
  -webkit-border-radius: 3;
    -moz-border-radius: 3;
    -o-border-radius: 3;
    border-radius: 5px;
    width: 20%;
  text-decoration: none;
  text-align: center;
  background-color: rgba(255,255,255,0.2);
  padding: 15px;
  margin-left: : 15px;
  margin-right: 15px;
}

.active {
    background-color: #FFFFFF;
}
a:hover{
  background-color: #C0C0C0;
}
.left {
    background-color: #9999FF;
    width: 24%;
    float:left;
    padding: 10px 0;
}

.right {
    width:74%;
    display: inline-block;
    padding-left: 10px;
}

.left img {
    border: solid 1px #000000;
    width: 80%;
    margin: 10%;
}
h2{
  color : #0000CC;
}
section{
  background-color: #99CCFF;
}
table{
  margin: 35px;
  border: 3px solid #000066;
  padding: 2px;
  width: 90%;
  border-radius: 15px;
}
th{
  background-image: linear-gradient(#ffff00, #ff9900);
  border: 1px solid #000000;
  border-bottom: 3px solid #000000;
  margin: 2px;
  padding: 10px;
  color: #9900ff;
  font-size: 125%;
  border-radius: 10px 10px 0px 0px;
}
tr{
  opacity: 0.7;
  font-weight: bold;
}
tr:first-child{
 opacity:1;
}
tr:hover{
  opacity:1;
  color:#800000;
}
td:first-child{
  text-align: left;
}
td:nth-child(even){
  text-align: center;
}
td:last-child{
  text-align: center;
}
td{
  background-color: #33cc33;
  padding: 6px;
  margin: 1px;
  font-family: cursive;
  border-bottom: 1px solid #000000;
  border-radius: 2px;
  text-shadow: 1px 1px #cc99ff;
}